// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

:root {
  /* Colors */
  --main-color: #9A1A32;
  --secondary-color: #D2AD43;
  --header-bg-color: #01012b83;
  --secondary-bg-color: rgb(29 29 58);
  --icon-active-color: #FF2A6D;
  --btn-bg-color: #05D9E8;
  --btn-color-black: #01012B;
  
  /*Fonts */
  --font-face: "Poppins";
  --font-header-1: 3.2rem;
  --font-header-2: 2rem;
  --font-header-3: 2.4rem;
  --font-p-text-1: 1.4rem;
  --font-p-text-2: 1.6rem;
  --font-p-text-3: 1.8rem;
  --font-p-text-4: 2rem;

  --font-text-white: #fff;

  //Width
  --max-width: 1250px;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  background-color: var(--main-bg-color);
  
  
  @media (max-width: 75em) {
        font-size: 56.25%;
      }

    @media (max-width: 56.25em) {
        font-size: 50%;
      }

    @media (max-width: 35.25em) {
        font-size: 40%;
      }    

    @media (max-width: 26.43em) {
        font-size: 35.25%;
      }
}

body {
    height: calc(var(--vh, 1vh) * 100);

}

a {
  color: inherit;
  text-decoration: none;
}

p, h2, h3, h4 {
  // color: var(--font-text-white);
}

button {
  font-family: var(--font-face);
}

* {
  box-sizing: border-box;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  // bottom: -5px !important;
}

// .swiper-pagination-bullet {
//      background-color: rgba(153, 26, 49, 0.5) !important;
// }

// .swiper-pagination-bullet-active {
//      background-color: var(--main-color) !important;
// }

// .swiper-button-prev, .swiper-button-next {
//   color: white !important;
// }


.swiper-pagination {
  position: static !important;
  padding-top: 1rem;
}