// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

:root {
  /* Colors */
  --main-color: #9a1a32;
  --secondary-color: #d2ad43;
  --header-bg-color: #01012b83;
  --secondary-bg-color: rgb(29 29 58);
  --icon-active-color: #ff2a6d;
  --btn-bg-color: #05d9e8;
  --btn-color-black: #01012b;

  /*Fonts */
  --font-face: 'Poppins';
  --font-header-1: 3.2rem;
  --font-header-2: 2rem;
  --font-header-3: 2.4rem;
  --font-p-text-1: clamp(11px, 5vw + 1rem, 1.4rem);
  --font-p-text-2: clamp(12px, 5vw + 1rem, 1.6rem);
  --font-p-text-3: clamp(13px, 5vw + 1rem, 1.8rem);
  --font-p-text-4: clamp(14.5px, 5vw + 1rem, 2rem);

  --font-text-white: #fff;

  //Width
  --max-width: 1250px;
}

html,
body {
  font-family: Poppins, sans-serif;
  font-size: 62.5%;
  background-color: var(--main-bg-color);

  @media (max-width: 75em) {
    font-size: 56.25%;
  }

  @media (max-width: 56.25em) {
    font-size: 50%;
  }

  @media (max-width: 35.25em) {
    font-size: 40%;
  }

  @media (max-width: 26.43em) {
    font-size: 35.25%;
  }
}

body {
  height: calc(var(--vh, 1vh) * 100);
}

a {
  color: inherit;
  text-decoration: none;
}

p,
h2,
h3,
h4 {
  // color: var(--font-text-white);
}

button {
  font-family: var(--font-face);
}

.container {
  padding: 0 5rem;
  max-width: var(--max-width) !important;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.swiper-pagination {
  position: static !important;
  padding-top: 1rem;
}
